@charset "UTF-8";

:root {
	--gap: min(12px, 1rem);

	/* font-family: , system-ui, sans-serif; */
	font-family: "dejavu";
	text-decoration: none;
	outline: none;
	border: none;
	transition: 0.1s ease-out;
}

/* Selection */
::selection {
  color: var(--text-selected-color);
  background: var(--text-selected-background-color);
}

::-moz-selection {
  color: var(--text-selected-color);
  background: var(--text-selected-background-color);
}


.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

