@font-face {
	font-family: 'DejaVu';
	src: url("/fonts/dejavu/DejaVuLGCSans-ExtraLight.ttf");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu';
	src: url("/fonts/dejavu/DejaVuLGCSans.ttf");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu';
	src: url("/fonts/dejavu/DejaVuLGCSans-Oblique.ttf");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'DejaVu';
	src: url("/fonts/dejavu/DejaVuLGCSans-Bold.ttf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DejaVu';
	src: url("/fonts/dejavu/DejaVuLGCSans-BoldOblique.ttf");
	font-weight: 500;
	font-style: italic;
}
